.submitButton{
  display: block;
}
.header {
  font-family: 'Open Sans';
  background-color: #902923;
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  padding: 10px;
  color: #FFF;
  font-weight: bold;
}
#left-column {
  position: relative;
}
#right-column {
  position: relative;
}
.name {
  font-weight: bold;
}
#logo {
  width: 70px;
  height: 50px;
  vertical-align: middle;
}
#form-container {
  text-align: right;
  position: absolute;
  width: 100%;
  padding-left: 40%;
  padding-top: 10%;
  padding-right: 3%;
}
#chatlog {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 20px;
  overflow: auto;
  resize: none;
  border-radius: 5px;
  outline: none;
  box-shadow:0 0 2px black;
}
textarea::placeholder {
  font-size: 20px;
  font-style: italic;
}
.divider{
  width:5px;
  height:auto;
  display:inline-block;
}
table {
  font-size: 20px;
}
#result {
  position: absolute;
  text-align: left;
  width: 100%;
  padding-left: 3%;
  padding-top: 5%;
  padding-right: 30%;
  color: #A22C29;
  display: block;
  font-family: 'Open Sans';
  word-wrap: break-word;
}
#toxic {
  font-family: 'Metal Mania', cursive;
  font-size: 40px;
}
#not-toxic {
  font-weight: bold;  
  font-size: 40px;
}
#sentences {
  text-align: left;
}
.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

